/* #region For ALL________________________________________________________________*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --boolando-primary: #ff6900FF;
    --boolando-wite: #ffffffFF;
    --boolando-bg-photo: #e7e7e7FF;
    --boolando-warning: #ff0000FF;
    --boolando-green: #008000FF;
    --boolando-text: #000000FF;
}

body {}

/* #endregion For ALL________________________________________________________________*/


/* #region Utility________________________________________________________________*/

.no-link {
    text-decoration: none;
    color: var(--boolando-wite);
}

.container {
    width: 80%;
    margin: auto;
    height: 100%;

}

img {
    width: 300px;
    
}

.disp-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem;

}


/* #endregion Utility________________________________________________________________*/

/* #region header________________________________________________________________*/


.header {
    background-color: var(--boolando-primary);
    padding: 2rem;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10%;
}

.no-link {
    text-decoration: none;
    color: var(--boolando-wite);
}

/* #endregion header________________________________________________________________*/

/* #region main________________________________________________________________*/



.capo1 {
    display: flex;
    justify-content: center;  
    
}

.photo {
    position: relative;
    width: 100%;
    margin: 2rem;
}

.width-60{
    max-width: 60%;
}

.sconto {
    position: absolute;
    bottom: 20%;
    background-color: var(--boolando-warning);
    color: var(--boolando-wite);
    padding: 0.25rem 0.25rem;
}

.info {
    position: absolute;
    left: 20%;
    bottom: 20%;
    background-color: var(--boolando-green);
    color: var(--boolando-wite);
    padding: 0.25rem 0.25rem;
}

.heart{
    position: absolute;
    top: 1rem;
    right: 0;
    background-color: var(--boolando-wite);
    padding: 1rem 1rem;
    

}

.line-through{
    text-decoration: line-through;
}

.text-red{
    color: var(--boolando-warning);
}

.photo-on{
    position: relative;
}
.photo:hover .img-1b{
    display: block;
}

.img-1b{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}

/* #endregion main________________________________________________________________*/


/* #region footer________________________________________________________________*/

footer{
    background-color: var(--boolando-text);
    padding: 2rem;
}

.footer{
    display: flex;
    justify-content: space-between;
    
    color: var(--boolando-wite);
}


/* #endregion footer________________________________________________________________*/
